body {
  font-family: "Inria Sans";
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f5f5f5;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#branding {
  padding-top: 5px;
  text-align: right;
}
.title {
  line-height: 0px;
}
.product_name {
  font-weight: bold;
  font-size: 34px;
}
.sub_title {
  font-size: 16px;
}
#jumbotron {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 20px;
}
#jumbotron > div {
  border-color: #c0c0c05e;
  border-bottom: 1px solid #c0c0c05e;
}
#book_stats {
  width: 100%;
  padding-right: 5px;
  border-right: 1px solid;
  padding-bottom: 10px;
}
.stat_parent {
  display: flex;
  border-radius: 15px;
  color: white;
  max-width: 320px;
  margin-bottom: 25px;
  margin-right: 30px;
  margin-left: 80px;
  cursor: pointer;
  transition: 0.3s;
}
.stat {
  display: inline-block;
  line-height: 1;
  padding-left: 23px;
  font-size: 16px;
  padding-right: 20px;
  padding-bottom: 7px;
}
.stat_icon {
  width: 55px;
  height: 50px;
  padding-top: 19px;
  padding-left: 50px;
}
.book_stats_number {
  line-height: 0px;
  font-weight: bold;
  font-size: 20px;
}
#borrowed_stat {
  background-color: #3fc1c9;
  border: 5px solid #3fc1c9;
}
#overdue_stat {
  background-color: #fc5185;
  border: 5px solid #fc5185;
}
#no_copies_stat {
  background-color: #364f6b;
  border: 5px solid #364f6b;
}
#borrowed_stat:hover {
  box-shadow: 5px 10px 18px #00a7b094;
}
#overdue_stat:hover {
  box-shadow: 5px 10px 18px #ff004c81;
}
#no_copies_stat:hover {
  box-shadow: 5px 10px 18px #004ba08f;
}
#main_actions {
  width: 100%;
}
.action_icon {
  width: 55px;
  height: 44px;
  padding-top: 19px;
  padding-left: 20px;
}
.action_label {
  display: inline-block;
  line-height: 1;
  padding-left: 10px;
  font-size: 25px;
  padding-right: 20px;
  vertical-align: top;
}
.action_button {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #88888838;
  margin: 35px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 122px;
}
.action_button:hover {
  box-shadow: 5px 10px 18px #00000056;
}
#defaulters_quick_view {
  width: 100%;
  border-left: 1px solid;
}
#defaulters_container {
  margin-left: 25px;
  margin-right: 25px;
}
#top_5_def_label {
  display: inline;
}
#defulters_calender_container {
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #414141;
}
td,
th {
  text-align: left;
  padding: 8px;
}
.td_right {
  text-align: right;
  color: #fc5185;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
.total_fine_container {
  text-align: -webkit-center;
  padding-top: 30px;
  padding-bottom: 15px;
}
.total_fine {
  display: inline;
}
#total_fine_value {
  font-size: 30px;
  font-weight: bold;
  color: #fc5185;
}
#manage_section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.manage {
  display: flex;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  max-width: 267px;
  cursor: pointer;
  transition: 0.3s;
  border: 5px solid white;
}
.manage_label_title {
  display: inline;
  font-size: 32px;
  font-weight: bold;
}
.manage_label_subtitle {
  display: inline;
}
.manage_icon {
  width: 134px;
  padding-top: 85px;
  padding-left: 10px;
}
.manage_books {
  color: #3fc1c9;
}
.manage_books:hover {
  border: 5px solid #3fc1c9;
}
.manage_authors {
  color: #fc5185;
}
.manage_authors:hover {
  border: 5px solid #fc5185;
}
.manage_users {
  color: #364f6b;
}
.manage_users:hover {
  border: 5px solid #364f6b;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 3px;
}

.modal-title {
  color: #690020;
  font-weight: bold;
  font-size: 21px;
}

.modal_label {
  color: #690020;
  font-size: 18px;
  display: inline-block;
  padding-top: 11px;
}
.modal_input_text {
  background: none;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #cecece;
  padding-top: 15px;
  font-size: 15px;
  width: 35%;
  margin-right: 10%;
  margin-bottom: 20px;
  font-family: "Inria Sans";
}
.modal_input_text:focus {
  border-color: #690020;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#search_bar {
  background: white;
  /* width: 400px; */
  margin-top: 20px;
  display: flex;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 5px 10px 18px #88888838;
  margin-bottom: 20px;
}
#search_bar_field_borrower[type="search"],
#search_bar_field_book[type="search"] {
  width: 100%;
  border: none;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border-radius: inherit;
  font-family: inherit;
  font-size: 15px;
}
#search_bar_field_borrower:focus,
#search_bar_field_book:focus {
  outline: none;
}
#search_bar_button[type="button"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}
.error {
  color: #bf0c0c;
}
.success {
  color: #0f6908;
}
.borrowerDetailsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #414141;
  border-radius: 3px;
}
.borrowerDetailsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 100px 0 20px;
}
.borrowerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 30%;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.borrowerDetails:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.angleDownButton {
  border: none;
  background: none;
  transition: all 0.2s ease-in-out;
}
.angleDownButton:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
div.listOfBorrowedBooks {
  display: none;
  padding: 0 0 0 20px;
}
.booksContainer {
  margin-bottom: 20px;
}
.btn {
  border: 1px solid #414141;
  border-radius: 3px;
  background: none;
  color: #414141;
  font-size: 16px;
  padding: 4px 12px;
}
.btn:hover {
  box-shadow: 3px 6px 9px #414141;
  cursor: pointer;
}
.messageReturnBooks {
  padding: 0 0 0 20px;
}
.manage_authors {
  color: #fc5185;
}
.manage_authors:hover {
  border: 5px solid #fc5185;
}
.manage_users {
  color: #364f6b;
}
.manage_users:hover {
  border: 5px solid #364f6b;
}
.view_reports {
  color: #2a5da8;
}
.view_reports:hover {
  border: 5px solid #2a5da8;
}
